<% if @student.errors.any? %>
  <div class="container">
    <div class="row signup-form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
            <strong><%= pluralize(@student.errors.count, 'error', 'errors') %> listed.</strong>
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row center signup-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
      <h3 class="header">Sign Up</h3>
        <div class="row">
          <%= form_for(@student, html: { class: 'col s12' }) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: 'Enter your name', autofocus: true %>
                <%= f.label :name %>
                <%= f.email_field :email, placeholder: 'Enter your email', autofocus: true %>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.submit 'Sign up', class: 'btn orange waves-effect waves-light ' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>