<div class="row">
  <div class="col s12">
    <h3 class="center-align">Course Listing</h3>
  </div>
</div>
<div class="row">
  <% @courses.each do |course| %>
    <div class="col s6 m3">
      <div class="courses-container">
	      <div class="course">
		      <div class="course-preview">
            <h6>Course</h6>
            <h2><%= course.short_name %>: <%= course.name %></span></h2>
            <% if logged_in? && !(current_user.courses.include?(course)) %>
              <%= link_to 'Enroll', course_enroll_path(course_id: course.id), method: :post %>
            <% end %>
          </div>
		<div class="course-info">
			<div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div>
			<h6>Chapter 4</h6>
			<h4><%= course.short_name %>: <%= course.name %></span></h4>
			<button class="btn">Continue</button>
    </div>
  <% end %>
  </div>
</div>


